PORT = 3000
CDT_INFO_URL = <URL de la API de tasas CDT de Bancolombia>
FIC_INFO_URL = <URL de la pagina principal de FICs de Bancolombia>
FIC_NAMES = <String con los nombres de los FICs a extraer, separados por comas, por ejemplo: "FIC1,FIC2,FIC3">
ALLOWED_ORIGINS = <URL de los orígenes permitidos, por ejemplo par  a el front, http://localhost:4200>