<div class="summary-container p-5">
  <p class="fs-3">
    This app consists in a simple web page that allows the user to search the investment financial products of banks and
    compare them. The main products that the user can search are CDTs (Certificado de Depósito a Término) and FICs
    (Fondos de Inversión Colectiva).
  </p>
  <ul class="fs-5">
    <li>For <strong>CDTs</strong>, the user can view the different rates offered by the banks with its term data.</li>
    <li>For <strong>FICs</strong>, the user can view the different rates offered by the banks with its data.</li>
  </ul>
  <h4>Available banks</h4>
  <ul class="fw-medium fs-5">
    <li>Bancolombia</li>
    <li>Banco de Bogota</li>
    <li>Ban100</li>
    <li>Nu</li>
    <li>Finandina</li>
  </ul>
</div>
