<header class="sticky top-0 z-10 w-full bg-white shadow-md">
  <nav class="container mx-auto flex items-center justify-between p-4">
    <h1 class="flex items-center text-lg md:text-2xl font-bold text-blue-600" data-testid="appTitle">
      <img [src]="iconPath" alt="Invest-App Logo" class="h-12 w-12 mr-2" />
      <span class="align-middle">Invest-App</span>
    </h1>
    <div class="space-x-4 text-gray-600">
      <a routerLink="/home" routerLinkActive="text-blue-600" class="hover:text-blue-600" data-testid="homeLink">
        Home
      </a>
      <a routerLink="/cdts" routerLinkActive="text-blue-600" class="hover:text-blue-600" data-testid="cdtsLink">
        CDTs
      </a>
      <a routerLink="/fics" routerLinkActive="text-blue-600" class="hover:text-blue-600" data-testid="ficsLink">
        FICs
      </a>
      <a routerLink="/pockets" routerLinkActive="text-blue-600" class="hover:text-blue-600" data-testid="pocketsLink">
        Bolsillos
      </a>
    </div>
  </nav>
</header>
