<footer class="w-full bg-gray-800 p-6 text-center text-gray-300">
  <p data-testid="copyright">&copy; {{ currentYear }} Invest-App. Todos los derechos reservados.</p>
  <p class="text-sm text-gray-400">
    Esta es una aplicación que consulta la información pública de las tasas ofrecidas por las entidades bancarias,
    puedes corroborar esta información en las paginas oficiales de cada una.
    <br />
    Los calculos de inversión son valores que pueden diferir un poco del valor real.
  </p>
</footer>
