PORT = 3001
CDT_INFO_URL = <URL de la API de tasas CDT de Banco de Bogota>
FIC_CONFIG = <[{"name":"...","url":"...","rowName":"..."},...]>
ALLOWED_ORIGINS = <URL de los orígenes permitidos, por ejemplo par  a el front, http://localhost:4200>
