name: Deploy pocket

on:
  push:
    branches: ["main"]
    paths:
      - "invest-web/projects/pocket/**"
  workflow_dispatch:

env:
  APP: pocket
  PROJECT_DIR: invest-web/projects/pocket
  BUILD_DIR: invest-web/dist/pocket/browser

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: invest-web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Unit Test
        run: npm run test:${{ env.APP }}

      - name: Replace tokens
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["${{ env.PROJECT_DIR }}/src/environments/environment.ts"]'
        env:
          assetsUrl: ${{ vars.POCKET_ASSETS_URL }}
          finandinaRateEndpoint: "${{ vars.FINANDINA_POCKET_RATE_ENDPOINT }}"
          finandinaSimulationEndpoint: "${{ vars.FINANDINA_POCKET_SIMULATION_ENDPOINT }}"
          nuRateEndpoint: "${{ vars.NU_BOX_RATE_ENDPOINT }}"
          nuSimulationEndpoint: "${{ vars.NU_BOX_SIMULATION_ENDPOINT }}"
          finandinaUrl: "${{ vars.FINANDINA_URL }}"
          nuUrl: "${{ vars.NU_URL }}"

      - name: Build Pocket
        run: npm run build -- ${{ env.APP }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.BUILD_DIR }} --project-name=${{ vars.POCKET_CLOUDFLARE_PROJECT_NAME }}
