name: Deploy shell

on:
  push:
    branches: ["main"]
    paths:
      - "invest-web/projects/shell/**"
  workflow_dispatch:

env:
  APP: shell
  PROJECT_DIR: invest-web/projects/shell
  BUILD_DIR: invest-web/dist/shell/browser

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: invest-web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Unit Test
        run: npm run test:${{ env.APP }}

      - name: Replace tokens
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["${{ env.PROJECT_DIR }}/src/environments/environment.ts","${{ env.PROJECT_DIR }}/public/federation.manifest.json"]'
        env:
          assetsUrl: ${{ vars.SHELL_ASSETS_URL }}
          manifestUrl: ${{ vars.MANIFEST_URL }}
          homeRemoteEntry: ${{ vars.HOMEREMOTEENTRY }}
          cdtRemoteEntry: ${{ vars.CDTREMOTEENTRY }}

      - name: Build Shell
        run: npm run build -- ${{ env.APP }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.BUILD_DIR }} --project-name=${{ vars.SHELL_CLOUDFLARE_PROJECT_NAME }}
