name: Deploy cdt

on:
  push:
    branches: ["main"]
    paths:
      - "invest-web/projects/cdt/**"
  workflow_dispatch:

env:
  APP: cdt

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      PROJECT_DIR: invest-web/projects/${{ env.APP }}
      BUILD_DIR: invest-web/dist/${{ env.APP }}/browser
    defaults:
      run:
        working-directory: invest-web

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Replace tokens
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["${{ env.PROJECT_DIR }}/src/environments/environment.ts"]'
        env:
          assetsUrl: ${{ vars.CDT_ASSETS_URL }}
          ban100Url: "${{ vars.BAN100_URL }}"
          bancolombiaUrl: "${{ vars.BANCOLOMBIA_URL }}"
          bancoDeBogotaUrl: "${{ vars.BANCO_DE_BOGOTA_URL }}"
          finandinaUrl: "${{ vars.FINANDINA_URL }}"
          nuUrl: "${{ vars.NU_URL }}"

      - name: Build CDT
        run: npm run build -- ${{ env.APP }}

      - name: Unit Test
        run: npm run test:${{ env.APP }}

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ${{ env.BUILD_DIR }} --project-name=${{ vars.CDT_CLOUDFLARE_PROJECT_NAME }}
